{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/institution/detail.css' %}" />
{% endblock %} {% block content %}
<section class="institution-container">
  <div class="institution-img">
    <img
      src="{% static 'images/museuafrobrasil.jpg' %}"
      alt="Mueseu AfroBrasil"
    />
  </div>
  <div class="institution-details">
    <h1>{{ institution.name }}</h1>
  </div>
</section>

<div class="exhibits-container">
  <section class="exhibits">
    <div class="subsection-title">
      <h2>Exhibits</h2>
    </div>
    {% if user.is_authenticated %}
    <h3>Add an Exhibit</h3>
    <form
      action="{% url 'add-exhibit' institution.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} {{ exhibits_form.as_p }}
      <button type="submit" class="btn submit">Add Exhibit</button>
    </form>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Exhibit Number</th>
          <th>Exhibit Description in English</th>
        </tr>
      </thead>
      <tbody>
        {% for exhibit in institution.exhibit_set.all %}
        <tr>
          <td>{{exhibit.name }}</td>
          <td>{{exhibit.exhibit_number}}</td>
          <td>{{exhibit.english_language_text}}</td>
          {% if user.is_authenticated %}
          <td>
            <a
              href="{% url 'exhibit-update' institution.id exhibit.id %}"
              class="btn warn"
              >Edit</a
            >
            <a
              href="{% url 'exhibit-delete' institution.id exhibit.id %}"
              class="btn danger"
              >Delete</a
            >
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
